html{
  box-sizing: border-box;
  //font-family: 'Lato', sans-serif;
  //font-family: 'Source Sans Pro', sans-serif;
  //font-family: 'Roboto', sans-serif;
}
.navbar-dark{
  .navbar-nav{
    .nav-link{
      color:darken(white, 18%);
    }
  }
}
.navbar{
  background-color:#585880;
  min-height:70px;
  padding:15px 16px;
  .container > .navbar-nav{
    @media only screen and (max-width:991px){
      order:-1;
      .dropdown-menu{
        position:absolute!important;
      }
      .nav-link.dropdown-toggle{
        @media only screen and (max-width:340px){
          font-size: 12px;
        }
      }
    }
  }
  .nav-link.dropdown-toggle{
    display:block;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding:0 0 0 12px!important;
    span{
      display:block;
      font-size: 12px;
    }
    @media (min-width:992px){
      img{
        display:none;
      }
    }
    @media only screen and (max-width:991px){
      span{
        display:none;
      }
    }
  }

  @media only screen and (min-width:992px){
    .collapse.navbar-collapse{
      position:relative;
      &:after{
        display:block;
        content:"";
        position:absolute;
        left:0;
        top:-15px;
        height:70px;
        width:1px;
        background-color:#D8D8D8;
      }
      &:before{
        display:block;
        content:"";
        position:absolute;
        right:0;
        top:-15px;
        height:70px;
        width:1px;
        background-color:#D8D8D8;
      }
    }
  }
  .nav-link{
    font-size: 14px;
    padding:8px 12px!important;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;

  }
  input[type="search"]{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color:black;
    @media only screen and (min-width:1200px){
      width:340px;
    }
    @media only screen and (max-width:1199px) and (min-width:992px){
      width:220px;
    }
    @media only screen and (max-width:991px){
      width:340px;
    }
    @media only screen and (max-width:399px){
      width:260px;
    }
    height:40px;
    border-radius: 8px;
    outline:none!important;
    &:focus {
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
*:focus {
  outline: none;
}
textarea:focus, input:focus{
  outline: none!important;
}
.navbar-brand{
  cursor:auto;
  position:relative;
  display:flex;
  flex-direction: row;
  margin:0;
  flex-wrap: nowrap;
  justify-content: center;
  img{
    height:25px;
    margin:auto;
  }
}
.navbar-toggler{
  outline:none!important;
}

