body{
  background-color: #F8F8F8;
  overflow-x: hidden;
}
.push-lg-1{
  @media only screen and (min-width:992px){
    left:calc((1/12)*100%);
  }
}
h2{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 100;
}
.background{
  background:url(/img-min/background1.png) no-repeat;
  height:100vh;
  padding-right:9999px;
  margin-right:-9999px;
  margin-left:-15px;
  padding-left:15px;
  z-index:0;
}
.cards{
  h2{
    margin: 30px 0 20px;
  }
  .card{
    margin:15px 0;
    min-height:300px;
  }
}
.login{
  z-index:5;
  padding-right: 75px;
  padding-left:40px;
  h2{
    margin:200px 0 50px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    max-width:380px;
    width:100%;
  }
  .btn.btn-info{
    margin-top:25px;
    padding:12px 45px;
  }
  @media only screen and (max-width:991px){
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
.form-in-column{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  label{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin:15px 0 1px 10px;
    color:lighten(#43455A, 35%);
    position:relative;
    width:max-content;
    &:after{
      content:"*";
      display:block;
      position:absolute;
      right:-7.5px;
      top:0;
      color:red;
    }
  }
  input{
    border-radius: 2px;
    border:1px solid #EAEDEF;
    max-width:380px;
    width:100%;
  }
}

.search-results{
  h2{
    line-height: 1;
    margin:40px 0 35px;
    span{
      font-weight: 500;
    }
  }
  .arrow-left{
    line-height: 19px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    color:#585880;
    margin:25px 0 -5px 10px;
    display:block;
    padding-left:25px;
    position:relative;
    transition: box-shadow 0.3s, -webkit-transform 0.3s;
    &:before{
      content: "";
      display: inline-block;
      position: absolute;
      left: 0px;
      top: 0;
      width: 21px;
      height: 100%;
      background: url(/img-min/arrow-left.svg) no-repeat 0 50%;
      background-size: 21px auto;
      transition: left 0.3s;
    }
    &:hover,
    &:focus{
      &:before{
        left:-10px;
      }
    }
  }
  p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color:#707070;
  }
  a{
    color:#595A9E;
    text-decoration: none;
  }
}
.search-results_box{
  background-color:white;
  .search-results_item:last-of-type{
    border-bottom: none;
  }
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
}
.search-results_box-title{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:flex-start;
  background-color: #F3F3F5;
  height:50px;
  align-items: center;
  padding-left:25px;
  @media only screen and (max-width:349px){
    padding-left:15px;
  }
  @media only screen and (max-width:991px){
    flex-wrap: wrap;
    height:65px;
  } 
  .ids{
    width:calc(50% - 180px);
    @media only screen and (max-width:991px){
      display:none;
    }
    @media only screen and (min-width:992px){
      span:nth-of-type(1){
        width:70%;
      }
      span:nth-of-type(2){
        width:30%;
      }
    }
  }
}
.brands{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width:49%;
  margin-left:60px;
  @media only screen and (max-width:991px){
    width:97%;
    margin-left:0;
  }
  span{
    width:25%;
  }
  span:nth-of-type(1){
    height:19px;
    background:url(/img-min/ab.svg) no-repeat;
  }
  span:nth-of-type(2){
    height:17px;
    background:url(/img-min/abc.svg) no-repeat;
  }
  span:nth-of-type(3){
    height:24px;
    background:url(/img-min/also.svg) no-repeat;
  }
  span:nth-of-type(4){
    height:19px;
    background:url(/img-min/max.svg) no-repeat;
  }
}
.in-row{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.search-results_item{
  display:flex;
  flex-direction: row;
  @media only screen and (max-width:991px){
    flex-wrap: wrap;
    .in-row{
      order:-1;
      margin-top:-5px;
    }
  }
  @media only screen and (min-width:992px){
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  padding:15px 20px 10px 25px;
  border-bottom:1px solid #E2E5EE;
  a{
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0;
    line-height: 13px;
  }
  p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 10px;
    margin:0;
    color:#43455A;
    span{
      font-size: 10px;
      display:block;
      line-height: 25px;
    }
  }
  .in-row{
    width:50px;
  }
  @media only screen and (max-width:349px){
    .ids{
      flex-direction: column;
      a{
        margin-bottom: 10px;
      }
    }
    padding-left:15px;
  }
}
.chart{
  background:url(/img-min/chart.svg) no-repeat;
  background-size:16px;
  width:16px;
  height:16px;
}
.settings{
  background:url(/img-min/settings.svg) no-repeat;
  background-size:19px;
  width:19px;
  height:19px;
}
.prices{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  p{
    width:25%;
  }
  @media only screen and (max-width:991px){
    width:100%;
    order:1;
  }
  @media only screen and (min-width:992px){
    width:50%;
  }
  @media only screen and (max-width:450px){
    flex-direction: column;
    p{
      width:100%;
      margin-bottom: 10px;
    }
  }
}
.ids{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  a:nth-of-type(1){
    width:70%;
  }
  a:nth-of-type(2){
    width:30%;
  }

  @media only screen and (max-width:991px){
    justify-content: flex-start;
    flex-wrap: wrap;
    width:calc(100% - 50px);
    order:-2;
    margin-bottom: 15px;
    a{
      margin-right:30px;
      &:last-of-type{
        margin-right: 0;
      }
    }
    a:nth-of-type(1){
      width:35%;
    }
    a:nth-of-type(2){
      width:50%;
    }
  }
  @media only screen and (min-width:992px){
    width:calc(50% - 170px);
  }
}
